.Button {
  border: 0;
  outline: none;
  border-radius: 2px;
  text-align: center;
  background: transparent;
}
.Button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.PrimaryButton {
  color: #fff;
  background-color: #00ccae;
  border: 1px solid #00ccae;
}
.PrimaryButton:hover,
.PrimaryButton:focus {
  border-color: #00e0ba;
  background-color: #00e0ba;
}
.PrimaryButton[disabled] {
  border-color: #00ccae;
  background-color: #00ccae;
}

.SecondaryButton {
  color: #fff;
  background-color: #cc004e;
  border: 1px solid #cc0000;
}
.SecondaryButton:hover,
.SecondaryButton:focus {
  border-color: #cc001b;
  background-color: #e00000;
}
.SecondaryButton[disabled] {
  border-color: #cc0044;
  background-color: #cc002c;
}